%div#main


%script#app-template{type: 'text/template'}

%script#flight-template{type: 'text/template'}
  %div
    %form#flight-selection
      %label{:for => "flight-start-dropdown"} Origin:
      %select#flight-start-dropdown{:name => "flight-start-dropdown"}
        {{#each models}}
        %option{value: '{{id}}'} {{attributes.origin}}
        {{/each}}
      %label{:for => "flight-end-dropdown"} Destination:
      %select#flight-end-dropdown{:name => "flight-end-dropdown"}
        {{#each models}}
        %option{value: '{{id}}'} {{attributes.destination}}
        {{/each}}
      %label{:for => "start-date"} From:
      %input#flight-to-date{type: 'date', name: 'start-date'}

      %label{:for => "end-date"} To:
      %input#flight-return-date{type: 'date',name: 'end-date'}

      %input{type: 'submit'}

%script#new-airplane-template{type: 'text/template'}
  %div#new-airplane.col-md-12
    = form_tag "/airplanes", :id => 'new-airplane-form', :method => :post do
      = label_tag :name
      = text_field_tag :name

      = label_tag :rows
      = range_field_tag :rows, 6, min: 4, max: 8

      = label_tag :cols
      = range_field_tag :cols, 55, min: 10, max: 100

      = submit_tag


%script#airplane-template{type: 'text/template'}
  %div.airplane.row
    %div.col-md-3
      {{ name }}
    %div.col-md-3
      {{ rows }}
    %div.col-md-3
      {{ cols }}
    %div.col-md-3
      button or something

%script#airplanes-template{type: 'text/template'}
  %div#airplanes.row
    %div.col-md-3
      Airplane Name
    %div.col-md-3
      Rows
    %div.col-md-3
      Columns
    %div.col-md-3
      Book button



%script#admin-reservation-template{type: 'text/template'}
  %div#reservation.row
    %div.col-md-2
      {{ user_id }}
    %div.col-md-2
      {{ flight_id }}
    %div.col-md-2
      depature date through associations
    %div.col-md-2
      {{ row }}{{ col }}
    %div.col-md-2
    %div.col-md-2
      Remove

%script#admin-reservations-template{type: 'text/template'}
  %div#reservations.row
    %div.col-md-2
      Reservation Owner
    %div.col-md-2
      Flight
    %div.col-md-2
      Departure Date
    %div.col-md-2
      Seat Number
    %div.col-md-2
    %div.col-md-2
      Booking

%script#user-reservation-template{type: 'text/template'}
  %div#user-reservation.row
    %div.col-md-3
      {{ flight_id }}
    %div.col-md-3
      Departure Date through assoc
    %div.col-md-3
      {{ row }}{{ col }}
    %div.col-md-3
      Booking button or somthing

%script#user-reservations-template{type: 'text/template'}
  %div#user-reservations.row
    %div.col-md-3
      Flight
    %div.col-md-3
      Departure Date
    %div.col-md-3
      Seat Number
    %div.col-md-3
      Booking


%script#seat-template{type: 'text/template'}
  %div#seat

%script#seating-template{type: 'text/template'}
  %div#seating
