!!!
%html
  %head
    %title BurningAirlines
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav
      %ul
      %li= @current_user.username if @current_user
    = yield